body {
    font-family: "Arial", sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    color: #000;
    opacity: 0.75;
    font-size: 13px;
    padding: 23px 25px 0px 25px;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto auto auto;
    grid-column-gap: 15px;
}

.about {
    grid-column: 1/2;
    text-align: center;
}

.store {
    grid-column: 2/3;
    text-align: center;
}

.gmail {
    grid-column: 5/6;
    text-align: center;
}

.images {
    grid-column: 6/7;
    text-align: center;
}

.userpic {
    background-color: purple;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    font-weight: 200;
    color: white;
    text-align: center;
    grid-column: 7/8;
    align-items: center;
}


input {
    width: 400px;
    height: 40px;
    border: 0.5px solid #d1d1d1;
    border-radius: 20px;
    opacity: 0.87;
    padding: 0px 20px 0px 30px;
    font-size: 16px;
}

input:hover {
    box-shadow: 0 1px 5px #c6c6c6;

}

input:focus {
    outline: none;
}

button {
    color: #5f6368;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    height: 36px;
    padding: 0px 16px 0px 16px;
    margin: 11px 4px 11px 4px;
    cursor: pointer;
}

button:hover {
    color: #000;
    border: 1px solid #c6c6c6;
    background: linear-gradient(0deg, #f5f5f5 #f1f1f1); 
    box-shadow: 0 2px 5px #c6c6c6;
}

main {
    display: grid;
    place-items: center;
}

footer {
    opacity: 0.6;
    background-color: #eee;
    left: 0px;
    bottom: 0px;
}

.location {
    font-size: 15px;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    padding: 11px 0px 12px 30px;
}

.footer2 {
    font-size: 14px;
    padding: 12px 30px 12px 30px;
    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto auto;
    grid-column-gap: 27px;
}

.ft1 {
    grid-column: 1/2;
}

.ft2 {
    grid-column: 2/3;
}

.ft3 {
    grid-column: 3/4;
}

.ft4 {
    grid-column: 5/6;
}

.ft5 {
    grid-column: 6/7;
}

.ft6 {
    grid-column: 7/8;
}
.search {
    display: grid;
    place-items: center;
}